
@import "compass/css3";

$icon-bar-icon-size: 36px;

a.nav-text {
	&:hover {
		color: #fff;
	}
}

.bg_white {
	background-color: #fff;
}

.border-bot{
	background-color: #E9405A;
	border-bottom: 3px solid #bc364a;
	&:hover {
		background-color: #bc364a;
	}
}
	
.logo-desription {
	font-size: 13px;
	padding-top: 0px;
}

.logo {
		@include inline-block;
		padding-top: 10px;
		padding-left: 12%;
}

.nav-text {
	color: #000;
}

.border {
	border-bottom: 1px solid #ccc;
}

#menu_nav {
	z-index: 9999;
}

#firstModal {
	@include background(opacity(0.5));
}

i {
	&.icon-lg{
		font-size: 36px;
	}
	&.icon-md {
		font-size: 24px;
  	}
  	&.icon-sm {
  		font-size: 21px;
  	}

}


.flash {
  width: 100%;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten(#E9405A, 60%);
  color: #E9405A
}
